body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body div {
    color: white;
}

.todo-list-group li {
    list-style-type: none;
    background-color: white;
}

.todo-list-group {
    color: black;
}

.todo-list-group li:hover {
    background-color: rgb(144, 144, 144);
    transition: 0.3s;
}